
.container__work-desc {
	 padding: 10px;
	 padding-left: 75px;
	 padding-right: 52px;


 	  @media (min-width: 770px){	
  font-size: 28px;
	margin: 70px;
	margin-bottom: 30px;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
	padding: 0;
	
     }
}
.button--edit {
   
  
 	 font-size: 14px;
	 padding: 9px 20px;
	 font-weight: 50%;	

	 @media (min-width: 770px){	
   margin-right: 0px;
  
 	 font-size: 16px;
	 margin-top: 0;
	  }
	
	}
.row {
	margin-left: 50px;
	margin-right: 50px;
}