 @mixin "ui_ui-footer.less";
 

.container__work-desc span {
	font-weight: bold;
	font-size: 28px;
}
.container__work-desc {
	font-size: 24px;
	margin-bottom: 50px;
	margin-left: 64px;
	margin-top: 70px;
	

}
.button--edit {
	margin-left: 244px;
  /* margin-right: 20px;*/
	 font-size: 14px;
	 padding: 9px 20px;
	 font-weight: 600;		
}
.row {
	margin-left: 50px;
	margin-right: 50px;
}
	
