div.content
    div.section_ui-header
        div.section_ui-header-base
            include ../modules/logo.pug
            include ../modules/header-nav.pug
        div.section_ui-header__login
            div.section_ui-header__login-new
                a(href="registration.html")
                    |Регистрация
            div.section_ui-header__login-login
                a(href="login.html")
                    |Вход