div.section_ui-header__nav
    ul
        li
            a(href="index.html") Главная
        li  
            a(href="work-guest.html") Обо мне
        li
            a(href="work-admin.html") Работы 
        li
            a(href="blog-admin.html") Блог
        li
            a(href="#") Контакты
        li
            a(href="ui-kit.html") ui-kit