extends layouts/main.pug

//-blog-aguest

block content
    div(class="content content--margin-sections")
        div.container
                         
            div.main-page__card-block
                h1
                    |Блог веб-разработчика
                    
                div.row
                    div(class="col-sm-6 col-md-6 col-lg-4")
                        +card-post('./img/blog/blog-3.jpg', 'Поездка в New York','#')
                    div(class="col-sm-6 col-md-6 col-lg-4")
                        +card-post('./img/blog/blog-2.jpg', 'Что я делал в долине','#')
                    div(class="col-sm-6 col-md-6 col-lg-4")
                        +card-post('./img/blog/blog-1.jpg', 'Как я ходил в поход этим летом','#')

            
                div.row
                    div(class="col-sm-6 col-md-6 col-lg-4")
                        +card-post('./img/blog/blog-5.jpg', 'Поездка в New York','#')
                    div(class="col-sm-6 col-md-6 col-lg-4")
                        +card-post('./img/blog/blog-2.jpg', 'Что я делал в долине','#')
                    div(class="col-sm-6 col-md-6 col-lg-4")
                        +card-post('./img/blog/blog-4.jpg', 'Как я ходил в поход этим летом','#')


                div.row
                    div(class="col-sm-6 col-md-6 col-lg-4")
                        +card-post('./img/blog/blog-3.jpg', 'Поездка в New York','#')
                    div(class="col-sm-6 col-md-6 col-lg-4")
                        +card-post('./img/blog/blog-2.jpg', 'Что я делал в долине','#')
                    div(class="col-sm-6 col-md-6 col-lg-4")
                        +card-post('./img/blog/blog-1.jpg', 'Как я ходил в поход этим летом','#')