extends layouts/reg-log-layout.pug

block variables
    - var title = 'Авторизация'


block content
    div.content
        div.reglog
            div.reglog__header
                a(href="index.html").reglog__header-logo
                    i(class="far fa-paper-plane")
                    |Супер Сайт
                div.reglog__header-action
                    a(href="registration.html")
                        |Регистрация
            div.reglog__form-block
                form(class="reglog__form" method = "POST", action = "#", id ="form-log")
                    div.reglog__form-heading
                        h1
                            |Вход на сайт
                    div(class="reglog__form-errors-email")
                        +input_email_error("Введите email")
                    div(class="reglog__form-errors-pass")
                        +input_email_error("Введите пароль")
                    div(class="reglog__form-errors-email-wrong")
                        +wrong_emailorPass("Неверный email или пароль")
                    input(class="reglog__form-field" type="text" placeholder="E-mail" data-email="email")
                    input(class="reglog__form-field" type="password" placeholder="Пароль" data-pass="pass")
                    div.reglog__form-remember-block
                        div.reglog__form-remember
                            +checkbox("Запомнить меня")
                        div.reglog__form-remember-pass
                            a(href="#")
                                |забыл пароль
                    div.reglog__form-buttons
                        +buttons-reglog("Войти")
            footer.reglog__footer
                div.footer__copyright
                    p
                        |© TRUE CODER
                    p
                        |Создано с
                        i(class="fas fa-heart")
                        |в 
                        a(href="http://webcademy.ru/webdev/")
                            |WebCademy.ru
                        |в 2018 году