extends layouts/ui-layout.pug


block variables
  - var title = 'Работы-Админ'
  - var pageClass = 'index-page'

  block content
   include ../pug/modules/admin-nav.pug
   div.content
     giv.container
       div.admin-panel
         div.navigation