extends layouts/main.pug



block variables
  - var title = 'Работы-Админ'
  - var pageClass = 'work-admin'


block content
 
  .container__work-desc
    .title
     | <strong>Работы</strong> которые сделал я и моя командa
    .button__admin
      +button('Добавить работу','#', 'button--edit', 'fa-arrow-left', 'left')
  .container__card     
   div.row
      div(class="col-sm-6 col-md-6 col-lg-4")
        +card-portfolio('./img/works/work-1.jpg', 'Верстка Landing Page','#') 
      div(class="col-sm-6 col-md-6 col-lg-4")  
        +card-portfolio('./img/works/work-2.jpg', 'Верстка UI набора','#')
      div(class="col-sm-6 col-md-6 col-lg-4")
        +card-portfolio('./img/works/work-3.jpg', 'Верстка интернет магазина','#')
   div.row
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-1.jpg', 'Верстка Landing Page','#')       
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-2.jpg', 'Верстка UI набора','#')       
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-3.jpg', 'Верстка интернет магазина','#')       
   div.row
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-1.jpg', 'Верстка Landing Page','#')              
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-2.jpg', 'Верстка UI набора','#')       
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-3.jpg', 'Верстка интернет магазина','#')       
        
