extends layouts/main.pug

block variables
	- var title = 'Функции часов по моделям'
	- var pageClass = 'work-tablet'

	block content
	h1 TAБЛИЦА C ПОЛЬЗОВАТЕЛЯМИ
		table.border
			thead
					ul
						li

							tr Фото модели часов
							tr Фото модели часов
							tr Фото модели часов
							tr Фото модели часов
							tr Фото модели часов 
				
							th Характеристика 1
							th Характеристика 2
							th Характеристика 3
							th Характеристика 4
							th Характеристика 5
		




