extends layouts/main.pug



block variables
  - var title = 'Работы-Админ'
  - var pageClass = 'work-admin'


block header  
  include ./modules/admin-nav.pug
block prepend content
 
  section.section__ui
        h1.heading__ui
  //- | Изменя съдържанието
  //- | истина ли е това!
  .container__work-desc
     h2 
     | <span>Работы</span> которые сделал я и моя командa
     +button('Добавить работу','#', 'button--edit', 'fa-arrow-left', 'left') 
  div.row
      div(class="col-sm-6 col-md-6 col-lg-4")
        +card-portfolio('./img/works/work-1.jpg', 'Верстка Landing Page','#') 
      div(class="col-sm-6 col-md-6 col-lg-4")  
        +card-portfolio('./img/works/work-2.jpg', 'Верстка UI набора','#')
      div(class="col-sm-6 col-md-6 col-lg-4")
        +card-portfolio('./img/works/work-3.jpg', 'Верстка интернет магазина','#')
  div.row
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-1.jpg', 'Верстка Landing Page','#')       
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-2.jpg', 'Верстка UI набора','#')       
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-3.jpg', 'Верстка интернет магазина','#')       
  div.row
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-1.jpg', 'Верстка Landing Page','#')              
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-2.jpg', 'Верстка UI набора','#')       
     div(class="col-sm-6 col-md-6 col-lg-4")
       +card-portfolio('./img/works/work-3.jpg', 'Верстка интернет магазина','#')       
        
